@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
}

.nav-item:hover {
  background-color: rgb(185 28 28 / var(--tw-bg-opacity));
}

.nav-item.active {
  background-color: rgb(127 29 29 / var(--tw-bg-opacity));
}
